.ship-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2em;
}

.shippment {
  width: 50%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 60px;
  text-align: justify;
}

.shippment img {
  margin-top: 3%;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .ship-info {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 540px) and (max-width: 900px) {
  .ship-info {
    font-size: 1em;
  }
}

@media screen and (min-width: 0px) and (max-width: 540px) {
  .ship-info {
    font-size: 0.9em;
  }
}
