@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@700&family=Oswald:wght@200;300;400&family=Secular+One&display=swap');

.cart-good-name {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.good-image {
  width: 28%;
}

.good-name {
  margin-left: 2%;
  width: 68%;
}

.minus {
  margin-right: 14px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 3px 7px;
  cursor: pointer;
}

.plus {
  margin-left: 14px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 3px 7px;
  cursor: pointer;
}

.delete-item {
  background-color: rgb(250, 250, 250);
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 3px 7px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

@media screen and (min-width: 840px) and (max-width: 1000px) {
  .good-name {
    padding-left: 5px;
  }
}

@media screen and (min-width: 620px) and (max-width: 840px) {
  .good-name {
    padding-left: 5px;
  }
}

@media screen and (min-width: 420px) and (max-width: 620px) {
  .good-image {
    margin-left: 10px;
  }

  .good-name {
    padding-right: 60px;
  }
}

@media screen and (min-width: 270px) and (max-width: 420px) {
  .good-image {
    margin-left: 10px;
  }

  .good-name {
    padding-right: 40px;
  }

  .delete-item-td {
    background-color: rgb(250, 250, 250);
  }
}
