@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@700&family=Oswald:wght@200;300;400&family=Secular+One&display=swap');

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  background: white;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 1.66666667%;
  padding-left: 1.66666667%;
  padding-right: 1.66666667%;
  padding-bottom: 2%;
  border: 1px solid #bababa;
  border-radius: 15px;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.cell:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

.cell img {
  width: 100%;
  flex-grow: 1;
}

.good-title {
  width: 90%;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-align: center;
}

figcaption {
  display: flex;
  justify-content: center;
  color: black;
  width: 100%;
  font-style: italic;
  padding-top: 5%;
  font-size: 1em;
  border-bottom: 1px solid #bababa;
  padding-bottom: 4.6%;
}

.price {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 5%;
  font-family: 'Caveat', cursive;
  font-size: 1.1em;
  color: rgb(216, 124, 237);
}

.price0 {
  text-decoration: line-through;
  text-decoration-color: red;
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 2.33333333%;
  color: red;
  opacity: 0.7;
}

.price1 {
  font-weight: bold;
  font-size: 1.4em;
  color: #808080;
}

.change-quantity {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
  margin: 20px 0px;
}

.change-quantity button {
  width: 30px;
  border-left: none;
  border-right: none;
  border-top: 0.2px solid rgb(209, 209, 209);
  border-bottom: 0.2px solid rgb(209, 209, 209);
  background-color: #aae0ef;
  text-align: center;
  color: white;
}

.change-quantity button.minus-quantity {
  background-color: #d577c1;
  cursor: pointer;
}

.change-quantity button:hover {
  box-shadow: none;
  border: 1px solid #d577c1;
  background-color: #fee0fa;
  color: gray;
}

.change-quantity input {
  text-align: center;
  width: 65%;
  border-left: none;
  border-right: none;
  border-top: 0.2px solid rgb(209, 209, 209);
  border-bottom: 0.2px solid rgb(209, 209, 209);
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.change-quantity button.plus-quantity {
  cursor: pointer;
}

.add-to-cart {
  display: flex;
  align-items: center;
  position: relative;
  color: rgb(103, 103, 103);
  text-shadow: 1px 1px 2px #d577c1, 0 0 1em white, 0 0 0.2em white;
  font-size: 1em;
  background-color: #ffe7fc;
  width: 90%;
  height: 60px;
  border: 1px solid white;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #d577c1,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: 5%;
  font-weight: bold;
  border-radius: 10px;
  padding-left: 5%;
  transition: 0.2s;
}

.add-to-cart:hover {
  box-shadow: none;
  border: 1px solid #d577c1;
  background-color: #fee0fa;
}

.add-to-cart img {
  width: 5%;
  margin-top: 1%;
}

.swal2-popup {
  font-size: 0.75em !important;
  font-family: 'Caveat' !important;
  padding-bottom: 30px !important;
  margin-bottom: 50px !important;
}

.swal2-icon.swal2-success {
  border-color: #ea9ffe !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border: 0.25em solid rgba(240, 115, 254, 0.3) !important;
}

.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: #fc81fc !important;
}

.zero-quantity {
  color: red;
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .goods-block {
    width: 20%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .goods-block {
    width: 20%;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .goods-block {
    width: 25%;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .goods-block {
    width: 40%;
  }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .goods-block {
    width: 60%;
  }
}
