.card-and-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 96%;
  margin-bottom: 60px;
}

.description {
  width: 65%;
  padding-top: 2%;
  margin-top: 2%;
  margin-bottom: 4%;
  font-size: 1.2em;
  border-top: 1px solid #bababa;
  text-align: justify;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .card-and-description {
    width: 90%;
  }

  .description {
    width: 60%;
    font-size: 1.1em;
  }
}

@media screen and (min-width: 540px) and (max-width: 900px) {
  .card-and-description {
    width: 90%;
  }

  .description {
    margin-top: 10%;
    width: 45%;
    font-size: 1em;
  }
}

@media screen and (min-width: 420px) and (max-width: 540px) {
  .card-and-description {
    width: 90%;
  }

  .card-and-description .cell {
    width: 42%;
  }

  .description {
    margin-top: 10%;
    width: 45%;
    font-size: 0.9em;
  }
}

@media screen and (min-width: 0px) and (max-width: 420px) {
  .card-and-description {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .card-and-description .cell {
    width: 70%;
  }

  .description {
    margin-top: 10%;
    width: 80%;
    font-size: 0.9em;
  }
}
